:root {
  --text-color: #ffffff;
  --background-color: rgb(0, 0, 0);
  --font-family: "CursorGothic", sans-serif;
}
@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Italic.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}
.container {
  min-height: 100vh;
  width: 100vw;
  padding: 0 110px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  padding: 10px 110px;
  z-index: 1000;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  gap: 30px;
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  gap: 10px;
}
.signin {
  background-color: var(--background-color);
  padding: 5px 9px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid var(--text-color);
}
.download {
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: 14px;
  padding: 5px 11px;
  border-radius: 20px;
}
/*------------------ Hero Section------------------*/

.hero-section {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  margin-top: 70px;
  gap: 50px;
  width: 100%;
}
.hero-content {
  padding-top: 90px;
  width: 40%;
  line-height: 32px;
}
.hero-content button {
  margin-top: 20px;
  color: var(--background-color);
  width: 42%;
  padding: 12px;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 20px;
  font-size: 15px;
}
.hero-content h2 {
  font-size: 26px;
}
.hero-content button img {
  position: absolute;
  width: 20px;
  height: 18px;
  margin-top: 1px;
  margin-left: 5px;
}
.hero-content2 {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  position: relative;
}
.herosec-img {
  width: 100%;
  max-width: 1300px;
}
.herosec-img .background-img {
  width: 100%;
  max-width: 1300px;
  max-height: 700px;
  border-radius: 5px;
}
.heromain-img1 {
  position: absolute;
  width: 1050px;
  top: 70px;
  left: 120px;
  border-radius: 5px;
}
.heromain-img2 {
  position: absolute;
  width: 420px;
  top: 320px;
  right: 60px;
  border-radius: 5px;
}
/*------------------ Hero Section------------------*/
/*---------- Company logos ---------------- */
.company-logo h3 {
  padding-top: 70px;
  text-align: center;
}
.logo-container {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.c-logo {
  height: 80px;
  max-width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(27, 25, 19);
}
.c-logo img {
  height: 40px;
  width: 100px;
}
/*---------- Company logos ---------------- */

/*------------Features Section------------------*/
.features-section {
  margin-top: 50px;
  width: 99%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 50px;
}
.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(27, 25, 19);
}
.section1-left {
  height: 100%;
}
.section1-right {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  width: 850px;

  max-width: 850px;
}
.section1-right img {
  position: relative;
  margin-left: 18px;
  height: 680px;
  max-height: 680px;
  width: 830px;
  border-radius: 5px;
  z-index: 1;
}
.section1-right .feat-img2 {
  position: absolute;
  top: 85px;
  left: 30px;
  z-index: 2;
  height: auto;
  width: 800px;
}

.section1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(113, 110, 108);
  font-size: 22px;
  font-family: var(--background-color);
  font-weight: 400;
  line-height: 30px;
  width: 450px;
  padding: 0px 35px;
}
.section1-head {
  color: var(--text-color);
}
.section1-para {
  color: rgb(113, 110, 108);
}
.feat-tagline {
  margin-top: 10px;
  color: rgb(238, 69, 6);
  font-size: 16px;
}
.feat-tagline img {
  position: relative;
  width: 20px;
  height: 20px;
  top: 5px;
  left: px;
}
.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(27, 25, 19);
  border-radius: 5px;
}
.section2-left {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;
}
.section2-left .feat-img3 {
  position: relative;
  border-radius: 5px;
  height: 630px;
  width: 820px;
}
.section2-left .section2-right {
  height: 100%;
}
.section2-left .feat-img4 {
  position: absolute;
  top: 60px;
  left: 100px;
  width: 680px;
  height: 560px;
}
.section2-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(113, 110, 108);
  font-size: 22px;
  font-family: var(--background-color);
  font-weight: 400;
  line-height: 30px;
  width: 450px;
  padding: 0px 35px;
}
.section3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(27, 25, 19);
}
.section3-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(113, 110, 108);
  font-size: 22px;
  font-family: var(--background-color);
  font-weight: 400;
  line-height: 30px;
  width: 450px;
  padding: 0px 35px;
}
.section3-right {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  width: 850px;
}
.section3-right .feat-img5 {
  position: relative;
  margin-left: 18px;
  height: 650px;
  max-height: 680px;
  width: 810px;
  border-radius: 5px;
  z-index: 1;
}
.section3-right .feat-img6 {
  position: absolute;
  top: 85px;
  left: 80px;
  z-index: 2;
  height: 340px;
  width: 540px;
}
.section3-right .feat-img7 {
  position: absolute;
  top: 270px;
  right: 80px;
  z-index: 2;
  height: 340px;
  width: 540px;
}
/*------------Features Section------------------*/

/*------------Cards Section------------------*/
.cards-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.cards-section1 {
  font-size: 18px;
  text-align: center;
  padding: 50px 0px;
}
.cards-section2 {
  display: grid;
  margin-right: 200px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.cards {
  height: 240px;
  width: 420px;
  background-color: rgb(27, 25, 19);
  margin: 10px 5px;
  padding: 0px 2px;
  border-radius: 5px;
}
.cards-content {
  font-size: 18px;
  padding: 20px;
}
.profile {
  height: auto;
  width: 50px;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.card-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  padding: 0px 20px;
  top: 20px;
  font-size: 14px;
  gap: 5px;
}
.cards1 .card-profile {
  top: 50px;
}
.cards2 .card-profile {
  top: 70px;
}
.cards3 .card-profile {
  top: 30px;
}
.cards4 .card-profile {
  top: 5px;
}
.cards5 .card-profile {
  top: 30px;
}
.cards6 .card-profile {
  top: 50px;
}

/*------------Cards Section------------------*/

/*------------testimonials------------------*/

.testimonials {
  display: flex;
  flex-direction: column;
  width: 99%;

  height: auto;
}
.testimonials-header h2 {
  position: relative;
  top: 30px;
}
.testimonials-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.testimonial-card {
  margin-top: 50px;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 22px;
  height: auto;
  width: 426px;

  border-radius: 5px;
  background-color: rgb(27, 25, 19);
}
.testimonial-img {
  height: 400px;
  width: 400px;
  margin-top: 15px;
}
.testimonial-tagline {
  margin-top: 15px;
  color: rgb(238, 69, 6);
}
.testimonial-tagline p {
  margin-top: 15px;
  color: rgb(238, 69, 6);
}
.testimonial-img img {
  position: relative;
  height: 400px;
  width: 400px;
}
/*------------testimonials------------------*/
/*------------changelog------------------*/

.channelog {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 99%;
  height: auto;
}
.channelog-header h2 {
  position: relative;
  padding-top: 200px;
  font-size: 30px;
}
.channelog-box {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
}
.cbox {
  background-color: rgb(27, 25, 19);
  height: 120px;
  width: 315px;
  border-radius: 5px;
  font-size: 17px;
  padding: 25px 10px;
}
.cbox-date {
  display: flex;
  justify-content: flex-start;
}
.cbox-version {
  padding: 0px 8px;
  border-radius: 10px;
  font-size: 17px;
  border: 1px solid rgb(113, 110, 108);
}
.cbox-date {
  font-size: 17px;
}
.cbox-date .testimonial-date {
  margin-left: 10px;
  color: rgb(113, 110, 108);
}
.cbox-para {
  padding: 10px 0px;
}
.channelog-timeline p {
  color: rgb(238, 69, 6);
  position: relative;
  top: -80px;
  font-size: 18px;
}
/*------------changelog------------------*/

/*------------team------------------*/

.team {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(27, 25, 19);
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 400px;
}
.team-right img {
  position: relative;
  padding: 20px 0px;
  border-radius: 20px;
  height: 100%;
  width: 850px;
}
.team-left {
  padding: 200px 35px;
  font-size: 24px;
}
.team-tagline p {
  margin-top: 15px;
  color: rgb(238, 69, 6);
  font-size: 18px;
}
/*------------team------------------*/

/*------------Highlights------------------*/

.recents-highlights {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgb(27, 25, 19);
  padding: 150px 0px;
  height: auto;
}
.highlights {
  display: flex;
  flex-direction: column;
  line-height: 23px;
  height: auto;
}
.highlights-date {
  display: flex;
  padding: 10px 0px;
  margin-top: 20px;
}
.high-content {
  background-color: rgb(32, 30, 24);
  padding: 15px 20px;
  font-size: 17px;
  margin-bottom: 20px;
  height: 164px;
  width: 656px;
  border-radius: 5px;
}
.high-tagline p {
  font-size: 17px;
  color: rgb(238, 69, 6);
}
.recent p {
  position: relative;
  left: 110px;
}
/*------------Highlights------------------*/

/*------------Final CTA------------------*/
.final-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 424px;
  background-color: rgb(0, 0, 0);
}
.cta-para h1 {
  font-size: 80px;
  margin-bottom: 25px;
}
.cta-btn {
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: 14px;
  padding: 12px 19px;
  border-radius: 20px;
  width: 200px;
  color: rgb(0, 0, 0);
}
.cta-btn button img {
  position: absolute;
  width: 20px;
  height: 18px;
  margin-top: 1px;
  margin-left: px;
}
.cta-btn button {
  color: rgb(0, 0, 0);
  font-size: 15px;
}
/*------------Final CTA------------------*/

/*------------footer------------------*/

footer{
    background-color: #1B1913;
}

.footer-first{
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 4rem 6rem;
}

.footer-first div{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
}

.footer-first h4{
    color: #eef1f189;
}

.footer-first a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 2.5px 6px;
    margin-top: 0.8rem;
    border-radius: 16px;
    width: fit-content;
}

.footer-first a:hover{
    background-color: rgba(177, 175, 175, 0.1);
    backdrop-filter: blur(20px);
}

.footer-second{
    height: 20vh;
    width: 100%;
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    color: #999880;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    gap: 1rem;
}

.copyright p{
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.copyright p:hover{
    color: #fff;
}

.light-modes img{
    height: 55px;
    cursor: pointer;
}
/*------------footer------------------*/

